spring:
  datasource:
    url: jdbc:mysql://localhost:3306/company_driver_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

  security:
    user:
      name: admin
      password: admin123


server:
  port: 8080